@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background: #feffde;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;

  .navbar__navlinks_container {
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;

      .navbar__navlinks_link {
        padding: 0 1.2rem;
        cursor: pointer;

        &:last-child {
          padding: 0.5rem 1.6rem;
          background: #52734d;
          a {
            color: #feffde;
            &:hover {
              color: #52734d;
              transition: 0.3s all ease-in-out;
            }
          }
          &:hover {
            background: none;
            border: 2px solid #52734d;
            transition: 0.3s all ease-in-out;
          }
        }
        &:hover .circle {
          display: block;
          animation: fadeIn;
          animation-duration: 1s;
        }

        .circle {
          border-radius: 50%;
          background-color: #2f412c;
          width: 5px;
          height: 5px;
          position: relative;
          left: 50%;
          bottom: -2px;
          display: none;
        }
      }

      a {
        text-transform: uppercase;
        color: #52734d;
        text-decoration: none;
        font-weight: normal;

        &:hover {
          color: #2f412c;
          transition: 0.2s all ease-in-out;
        }
      }
    }
  }

  .navbar__socialMedia_container {
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-items: center;
      justify-content: space-around;

      li {
        padding: 0.5rem;
        width: 35px;
        height: 35px;
        background-color: #52734d;
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 50%;

        svg {
          color: #feffde;
          font-size: larger;
        }
      }
    }
  }
}
