@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$poppins-Font: "Poppins", sans-serif;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    position: absolute;
    left: 0;
    opacity: 0.1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    rotate: 110deg;
    font-size: x-small;
    opacity: 0.4;
  }
  100% {
    rotate: 0deg;
    opacity: 1;
  }
}

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 6px 0px 6px #000;
}

.navbar__miniNavBar {
  display: none;
}

.navbar {
  background: #feffde;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  font-family: $poppins-Font;

  .icons {
    display: none;
  }

  .navbar__navlinks_container {
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;

      .navbar__navlinks_link {
        padding: 0 1.2rem;
        cursor: pointer;

        &:last-child {
          a {
            color: #5f2c01;
            font-weight: bold;
            transition: 200ms all ease-in-out;
          }
        }
        &:hover .circle {
          display: block;
          animation: fadeIn;
          animation-duration: 1s;
        }

        .circle {
          border-radius: 50%;
          background-color: #2f412c;
          width: 5px;
          height: 5px;
          position: relative;
          left: 50%;
          bottom: -2px;
          display: none;
        }
      }

      a {
        text-transform: uppercase;
        color: #52734d;
        text-decoration: none;
        font-weight: normal;

        &:hover {
          color: #22311f;
          transition: 0.2s all ease-in-out;
        }
      }
    }
  }

  .navbar__socialMedia_container {
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-items: center;
      justify-content: space-around;

      li {
        padding: 0.5rem;
        width: 35px;
        height: 35px;
        background-color: #52734d;
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 50%;

        svg {
          color: #feffde;
          font-size: larger;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__logo_container {
      flex: 1;
    }
    .icons {
      cursor: pointer;
      display: block;
      font-size: 1.3rem;
      position: relative;
      right: 2rem;
      color: #3e1c01;
      svg {
        animation: rotate 1s ease-in-out 0s 1 forwards;
      }
    }
    .navbar__navlinks_container {
      display: none;
    }
    .navbar__socialMedia_container {
      display: none;
    }
  }

  .navbar__miniNavBar {
    display: block;
    background-color: #feffde;
    position: absolute;
    right: 0;
    padding: 2rem;
    text-align: left;
    z-index: 1000;
    margin-top: -1px;
    animation: fadeIn 1s ease-in-out 0s 1 forwards;
    border-bottom-left-radius: 10px;
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.2);

    .links_container {
      position: relative;
      right: 2rem;
      top: -2rem;

      ul {
        list-style: none;

        li {
          padding: 0.6rem;
          cursor: pointer;
          width: 100%;
          &:hover {
            a {
              color: #3e1c01;
              font-weight: bold;
            }
            transition: 200ms all ease-out;
          }

          a {
            text-decoration: none;
            color: #5f2c01;
            font-family: $poppins-Font;
            font-size: 14px;
          }
        }
      }

      hr {
        width: 100%;
        position: relative;
        left: 25%;
      }
    }
  }
}
